[Desktop Entry]
Name = Bazzite Docs
Comment = Read documentation for Bazzite
Keywords[be] = дакументацыя;інфармацыя;звесткі;падручнік;дапаможнік;даведка;
Keywords[bg] = documentation;information;manual;help;документация;информация;ръководство;помощ;
Keywords[ca] = documentació;informació;manual;ajuda;
Keywords[ca@valencia] = documentació;informació;manual;ajuda;
Keywords[ckb] = documentation;information;manual;help;
Keywords[cs] = dokumentace;informace;příručka;manuál;návod;nápověda;
Keywords[da] = dokumentation;information;manual;håndbog;hjælp;
Keywords[de] = Dokumentation;Information;Handbuch;Hilfe;
Keywords[el] = τεκμηρίωση;πληροφορίες;εγχειρίδιο;documentation;information;manual;help;βοήθεια;
Keywords[en_GB] = documentation;information;manual;help;
Keywords[eo] = dokumentado;informo;manlibro;helpo;
Keywords[es] = documentación;información;manual;ayuda;
Keywords[eu] = dokumentazioa;informazioa;eskuliburua;laguntza;
Keywords[fa] = documentation;information;manual;help;مستندات;اطلاعات;راهنما;کمک;
Keywords[fi] = documentation;information;manual;help;dokumentaatio;manuaali;ohje;
Keywords[fr] = documentation;information;manuel;aide;
Keywords[fur] = documentazion;informazion;manuâl;jutori;
Keywords[gd] = documentation;information;manual;help;docamaideadh;fiosrachadh;stiùireadh;treòir;cobhair;
Keywords[gl] = documentación;información;manual;axuda;
Keywords[he] = תיעוד;פרטים;מידע;מדריך;עזרה;
Keywords[hr] = dokumentacija;informacija;priručnik;pomoć;
Keywords[hu] = dokumentáció;információ;kézikönyv;súgó;
Keywords[id] = dokumentasi;informasi;manual;bantuan;
Keywords[is] = handbækur;handbók;hjálparskjöl;skjölun;upplýsingar;leiðbeiningar;
Keywords[it] = documentazione;informazioni;manuali;aiuto;
Keywords[ja] = documentation;information;manual;help;ドキュメンテーション;ドキュメント;情報;インフォメーション;マニュアル;ヘルプ;
Keywords[ka] = documentation;information;manual;help;
Keywords[kk] = құжаттама;ақпарат;нұсқама;көмек;
Keywords[ko] = documentation;문서;information;정보;manual;설명서;매뉴얼;help;도움말;
Keywords[lt] = dokumentacija;informacija;vadovas;žinynas;
Keywords[lv] = dokumentācija;informācija;rokasgrāmata;palīdzība;palīgā;
Keywords[ml] = documentation;information;manual;help;
Keywords[ms] = dokumentasi;maklumat;panduan;bantuan;
Keywords[nb] = dokumentasjon;informasjon;håndbok;hjelp;
Keywords[ne] = दस्तावेज;सूचना;मैनुअल;मद्दत;
Keywords[nl] = documentatie;informatie;handleiding;hulp;help;docs;
Keywords[oc] = documentacion;informacion;manual;ajuda;
Keywords[pa] = ਦਸਤਾਵੇਜ਼;ਜਾਣਕਾਰੀ;ਕਿਤਾਬਚਾ;ਮੈਨੂਅਲ;ਡੌਕੂਮੈਂਟ;ਮਦਦ;ਸਹਾਇਤਾ;
Keywords[pl] = dokumentacja;informacje;podręcznik;przewodnik;manual;instrukcja;pomoc;wsparcie;support;
Keywords[pt] = documentação;informação;manual;ajuda;
Keywords[pt_BR] = documentação;informação;informações;manual;ajuda;
Keywords[ro] = documentation;intormation;manual;documentație;informație;ajutor;
Keywords[ru] = документация;информация;руководство;справка;
Keywords[sk] = dokumentácia;informácie;návod;manuál;pomoc;pomocník;
Keywords[sl] = dokumentacija;podrobnosti;priročnik;pomoč;yelp;
Keywords[sr] = документација;подаци;упутство;помоћ;documentation;information;manual;help;
Keywords[sr@latin] = dokumentacija;podaci;uputstvo;pomoć;
Keywords[sv] = dokumentation;information;manual;handbok;hjälp;
Keywords[tr] = belgelendirme;bilgi;el kitabı;kılavuz;rehber;yardım;
Keywords[uk] = документація;інформація;посібник;довідка;
Keywords[vi] = documentation;information;manual;help;tài liệu;tai lieu;thông tin;thong tin;hướng dẫn;huong dan;trợ giúp;tro giup;
Keywords[zh_CN] = documentation;information;manual;help;文档;信息;手册;帮助;
Keywords[zh_TW] = documentation;information;manual;help;文件;資訊;手冊;求助;說明;
Keywords = documentation;information;manual;help;bazzite
OnlyShowIn = GNOME;Unity;
Exec = yelp %u
Icon = Bazzite_BW.png
StartupNotify = true
Terminal = false
Type = Application
Categories = GNOME;GTK;Core;Documentation;Utility;
MimeType = x-scheme-handler/ghelp;x-scheme-handler/help;x-scheme-handler/info;x-scheme-handler/man;
Keywords[en_CA] = Bazzite;Docs;Documentation;Document;Help;Guides
